p{
    color:blue;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.recipe-tab{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:20px;

}
.ingredient-tab{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:20px;
}
.purchase-tab{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:20px;
}
.tab-container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:40px;
}
.recipe-field{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}