{%extends "restaurant_app/base.html"%}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'restaurant_app/styles.css' %}">
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{%block content%}
<p>Welcome Baus!</p>
<div class="tab-container">
    <div class="recipe-tab">
        <i class="fa-solid fa-utensils fa-5x"></i>
        <a href="{%url 'recipelist'%}">New recipe section</a>
    </div>
    
    <div class="ingredient-tab">
        <i class="fa-solid fa-fish fa-5x" ></i>
        <a href="{%url 'ingredientlist'%}">New ingredient section</a>
    </div>
    <div class="purchase-tab">
        <i class="fa-solid fa-money-bill fa-5x"></i>
        <a href="{%url 'customerpurchaselist'%}">Customer purchase section</a>
    </div>
</div>


{%endblock%}