{%extends "restaurant_app/base.html"%}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'restaurant_app/styles.css' %}">
 
{% endblock %}

{%block content%}
<h1>Here is the current ingredient list</h1>
<a href ="{% url 'ingredientcreate' %}">Add an ingredient</a>
<ul>
    {% for ingredient in ingredients %}
      <li>{{ ingredient.name }} - ${{ ingredient.price_per_unit }} - {{ ingredient.items_available }}</li>
      <a href ="{% url 'ingredientupdate' ingredient.id%}"><button>Update</button></a>
      <a href ="{% url 'ingredientdelete' ingredient.id%}"><button>Delete</button></a>
    {% endfor %}
</ul>

{%endblock%}