{%extends "restaurant_app/base.html"%}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'restaurant_app/styles.css' %}">
{% endblock %}

{%block content%}
<h1>Here is the current recipe list</h1>
<ul>
    {% for recipe in recipes %}
      <li>{{ recipe.name }} - {{ recipe.description }} - ${{ recipe.cost }}</li>
      <a href ="{% url 'recipeupdate' recipe.id%}"><button>Update</button></a>
      <a href ="{% url 'recipedelete' recipe.id%}"><button>Delete</button></a>
    {% endfor %}
  </ul>

{%endblock%}