{% extends './base.html' %}
{% block content %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'restaurant_app/styles.css' %}">
{% endblock %}
<h2>Enter New Recipe</h2>
<form method="post">
      {% csrf_token %}
  <div class="recipe-field">
      <label for="name">Name</label>
      {{form.name}}

      <label for="cost">Cost</label>
      {{form.cost}}

      <label for="ingredients">Ingredients</label>
      {{form.ingredients}}
      
      <label for="description">Description</label>
      {{form.description}}

  </div>
     
      <button type="submit">Save Recipe</button>
</form>
{% endblock %}